.navbar {
    background-color: indigo !important;
}

.nav-link {
    color: white  !important;
    font-weight: bold !important;
}

.nav-link:hover{
    color: lightcoral !important;
}

.fa-shopping-bag {
    font-size: 32px !important;
    color:yellowgreen !important;
}

.fa-user {
    font-size: 50px !important;
}

.fa-truck,.fa-headphones,.fa-heart {
    font-size: 50px !important;
    margin-right: 10px;
    color: darkblue;
}

h3 {
    color: purple;
    font-weight: bold;
}

.card1,.card2,.card3 {
    display: flex;
    width: 300px;
    height: 100px;
    background-color: lightblue;
    box-shadow: 2px 4px 5px grey;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.mainCard {
    margin-top: 38px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.mainCard2 {
    margin-top: 38px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
   

}

.card4,.card5,.card6 {
    display: flex;
    width: 300px;
    height: 100px;
    background-color: lightblue ;
    box-shadow: 2px 4px 5px grey;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}


.fa-phone,.fa-shopping-bag,.fa-home{
    font-size: 50px !important;
    margin-right: 10px;
    color: darkblue;

}

@media screen and (max-width: 600px) {
    .card1,.card2,.card3,.card4,.card5,.card6{
        width: 100%;
    }
       
}

.NewArrivals {
    margin-top: 50px;
}

.card {
    width: 260px;
    height: auto !important;
    margin-bottom: 5px;
}

.card-text{
    font-weight: bold;
}

.btn-primary {
    width: 100%;
    background-color:lightseagreen;

}

.card_2 {
    width: 260px;
    height: 300px;
}

.card_1 {
    width: 260px;
    height: 300px;
}

.card_3 {
    width: 260px;
    height: 300px;
}


@media screen and (max-width: 600px) {
    .card{
        width: 100%;
    }
       
}

.heading {
    text-align: center !important;
    font-weight: bold;
    color: purple;
    font-size:70px !important;
    margin:20px;
}

.heading > h1 {
    text-shadow: 2px 2px  4px black;
}

.footer {
    width: 100% !important;
    background-color: lightblue !important;
    height: 120px !important;

}

.footer > div {
    text-align: center !important;

}

.footer > h5 {
    text-align: left !important;
}


h4 {
     color: black;
     align-items: left !important;
}

.ton {
    height: 100px;
} 

.card {
 /* padding: 50px; */
  transition: transform .2s;
  width: 200px;
  height: 100px;
  margin: 0 auto;
}


.card:hover {
    transform: scale(1.5);
}  


.card1,.card2,.card3{
    transition: transform .2s;
    width: 300px;
    height: 120px;
    margin: 0 auto;

}

.card1:hover {
    transform: scale(1.5);
} 

.card2:hover {
    transform: scale(1.5);
} 

.card3:hover {
    transform: scale(1.5);
} 



.card4,.card5,.card6{
    transition: transform .2s;
    width: 300px;
    height: 120px;
    margin: 0 auto;

}

.card4:hover {
    transform: scale(1.5);
} 

.card5:hover {
    transform: scale(1.5);
} 

.card6:hover {
    transform: scale(1.5);
} 
